<template>
    <div>
        <nav
      class="border-b rounded-b-md h-16 flex order-first top-0 bg-white sticky items-center justify-between sm:px-12 px-6"
    >
    <NuxtLink to="/">
          <img
            src="../assets/images/logobanaran.png"
            alt=""
            class="w-40 object-bottom absolute -top-4 sm:left-8 -left-4"
          />
          <img
            src="../assets/images/pohon.png"
            alt=""
            class="sm:pl-24 pl-16 h-12 flex justify-self-center"
          />
        </NuxtLink>

      <div class="md:flex justify-between gap-4 hidden text-center">
        <div class="md:flex justify-between gap-4 hidden text-center">
          <NuxtLink
            v-for="data in dropDown"
            :to="data.link"
            class="p-4 rounded-md transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-green-700 hover:text-white"
          >
            {{ data.title }}
          </NuxtLink>
        </div>
      </div>
      <div class="flex relative md:hidden">
        <button
          class="hover:cursor-pointer flex items-center"
          @click="show = !show"
          @blur="show = false"
        >
          <img src="../assets/images/menu.svg" alt="" />
        </button>
        <transition
          enter-active-class="transform transition duration-200 ease-custom"
          enter-class="-translate-y-1/2 scale-y-0 opacity-0"
          enter-to-class="translate-y-0 scale-y-100 opacity-100"
          leave-active-class="transform transition duration-200 ease-custom"
          leave-class="translate-y-0 scale-y-100 opacity-100"
          leave-to-class="-translate-y-1/2 scale-y-0 opacity-0"
        >
          <div
            v-show="show"
            class="top-12 right-0 grid absolute rounded-xl px-4 py-4 bg-white shadow"
          >
            <ul class="grid w-48 justify-item-center text-center">
              <li
                v-for="(list, index) in dropDown"
                :key="index"
                class="hover:bg-green-700 hover:text-white bg-opacity-50 rounded-lg py-2"
              >
                <NuxtLink :to="list.link" class="py-4">
                  {{ list.title }}
                </NuxtLink>
              </li>
            </ul>
          </div> </transition
        ><!-- <Dropdown /> -->
      </div>
    </nav>
    </div>
</template>
<script>
export default {
  data() {
    return {
      show: false,
      dropDown: [
        { title: "Beranda", link: "/" },
        { title: "Tentang Dusun", link: "/" },
        { title: "Produk UMKM", link: "/" },
        { title: "Kegiatan", link: "/" },
        { title: "Fasilitas", link: "/" },
        { title: "Galeri", link: "/galeri" },
      ],
    };
  },
};
</script>