<template>
    <div class="grid">
      
        <img
          src="../assets/images/pegagan.jpeg"
          alt=""
          class="h-screen object-cover w-full"
        />
        <div class="">
          <p
            class="bg-slate-900 bg-opacity-50 absolute pt-80 text-3xl w-full top-16 h-screen text-center text-white font-medium"
          >
            Keripik Daun Pegagan <br /><span class="font-normal text-base text-center"
              >Asli Banaran</span
            >
          </p>
        </div>
      
      <nav
        class="border-b rounded-b-md h-16 flex order-first top-0 bg-white sticky items-center justify-between sm:px-12 px-6"
      >
        <NuxtLink to="/">
          <img
            src="../assets/images/logobanaran.png"
            alt=""
            class="w-40 object-bottom absolute -top-4 sm:left-8 -left-4"
          />
          <img
            src="../assets/images/pohon.png"
            alt=""
            class="sm:pl-24 pl-16 h-12 flex justify-self-center"
          />
        </NuxtLink>
  
        <div class="md:flex justify-between gap-4 hidden text-center">
          <div class="md:flex justify-between gap-4 hidden text-center">
            <NuxtLink
              v-for="data in dropDown"
              :to="data.link"
              class="p-4 rounded-md transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-green-700 hover:text-white"
            >
              {{ data.title }}
            </NuxtLink>
          </div>
        </div>
        <div class="flex relative md:hidden">
          <button
            class="hover:cursor-pointer flex items-center"
            @click="show = !show"
            @blur="show = false"
          >
            <img src="../assets/images/menu.svg" alt="" />
          </button>
          <transition
            enter-active-class="transform transition duration-200 ease-custom"
            enter-class="-translate-y-1/2 scale-y-0 opacity-0"
            enter-to-class="translate-y-0 scale-y-100 opacity-100"
            leave-active-class="transform transition duration-200 ease-custom"
            leave-class="translate-y-0 scale-y-100 opacity-100"
            leave-to-class="-translate-y-1/2 scale-y-0 opacity-0"
          >
            <div
              v-show="show"
              class="top-12 right-0 grid absolute rounded-xl px-4 py-4 bg-white shadow"
            >
              <ul class="grid w-48 justify-item-center text-center">
                <li
                v-for="(list, index) in dropDown"
                :key="index"
                class="hover:bg-green-700 hover:text-white bg-opacity-50 rounded-lg py-2"
              >
                <NuxtLink :to="list.link" class="py-4">
                  {{ list.title }}
                </NuxtLink>
              </li>
              </ul>
            </div> </transition
          ><!-- <Dropdown /> -->
        </div>
      </nav>
      <p class="mt-80">haloo</p>
      <footer class="mt-10">
      <div
        class="sm:px-12 px-6 pt-4 border-t grid relative items-center justify-between"
      >
        <div>
          <img
            src="../assets/images/logobanaran.png"
            alt=""
            class="w-40 object-bottom absolute -top-4 sm:left-8 -left-2"
          />
          <img
            src="../assets/images/pohon.png"
            alt=""
            class="sm:pl-24 pl-20 h-12 flex justify-self-center"
          />
        </div>
        <div class="flex gap-2 mt-4">
          <a
            href="https://www.instagram.com/kkn78banaran/"
            class="hover:cursor-pointer"
            ><img src="../assets/images/ig.svg" alt="blank" class="w-7 h-7"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCut0eCqP73zGrUz1OtyS8XQ"
            class="hover:cursor-pointer"
            ><img src="../assets/images/youtube.svg" alt="" class="w-7 h-7"
          /></a>
          <a href="https://wa.me/085246412783" class="hover:cursor-pointer"
            ><img src="../assets/images/wa.svg" alt="" class="w-7 h-7"
          /></a>
        </div>
        <div class="grid gap-2 text-sm my-4">
          <NuxtLink to="/">Beranda</NuxtLink>
          <NuxtLink to="/">Tentang Dusun</NuxtLink>
          <NuxtLink to="/">Produk UMKM</NuxtLink>
          <NuxtLink to="/">Kegiatan Unggulan</NuxtLink>
          <NuxtLink to="/">Fasilitas</NuxtLink>
          <NuxtLink to="/">Galeri</NuxtLink>
        </div>
      </div>
      <hr class="my-4" />
      <div class="grid items-center w-full">
        <p class="mb-4 w-full text-center justify-self-center">
          Made With ❤️ by KKN-78-142 UPN "VETERAN" YOGYAKARTA
        </p>
      </div>
    </footer>
    </div>
  </template>
  <script>
  export default {
    data() {
      return {
        show: false,
        dropDown: [
          { title: "Beranda", link: "/" },
          { title: "Tentang Dusun", link: "/" },
          { title: "Produk UMKM", link: "/" },
          { title: "Kegiatan", link: "/" },
          { title: "Fasilitas", link: "/" },
          { title: "Galeri", link: "/galeri" },
        ],
      };
    },
  };
  </script>
  